@mixin lg{
    @media(max-width: 960px){
        @content
    }
};
@mixin md{
    @media(max-width: 768px){
        @content
    }
};
@mixin sm{
    @media(max-width: 576px){
        @content
    }
};
@mixin logo($url){
    background-image:url($url);
  background-repeat: no-repeat;
  background-position: center;
    display:block; //把 a標籤變區塊元素
    text-indent:101%;
    overflow:hidden;
    white-space:nowrap;
};

